html{
	background-color: #43292A;

	height: 100%;
}

@font-face {
    font-family: 'MyriadProCondensed';
    src: url('fonts/myriad/myriadpro-cond-webfont.eot');
    src: url('fonts/myriad/myriadpro-cond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/myriad/myriadpro-cond-webfont.woff') format('woff'),
         url('fonts/myriad/myriadpro-cond-webfont.ttf') format('truetype'),
         url('fonts/myriad/myriadpro-cond-webfont.svg#MyriadProCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VintageRegular';
    src: url('fonts/vintage/vintage-webfont.eot');
    src: url('fonts/vintage/vintage-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vintage/vintage-webfont.woff') format('woff'),
         url('fonts/vintage/vintage-webfont.ttf') format('truetype'),
         url('fonts/vintage/vintage-webfont.svg#VintageRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'MyriadProCondensed';
                 /* This removes the border around the viewport in old versions of IE */
    background: #43292A url("/static/images/pixelbg.png") repeat-x top left;
    background-position:0px 60px;
    width:100%;
    height: 100%;
}

#wrap{
	min-height:100%;
}

#main{
	overflow: auto;
	padding-bottom: 130px;
}

.img-logo{
	margin-top:-8px;
	height: 40px;
	float: left;
	display: block;
	margin-left: -20px;
}

form label{
	color: white;
	font-size: 1.1em;
}

.topbar-header{
	background-color: #1C0404;
	position:relative;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding: 25px 0 0px 0;
	overflow: hidden;
	min-height: 60px;
}

.nav-container{
	padding-top:15px;
}

#main-section{
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: 100%;
}

.big-content{
	background: no-repeat url("/static/images/background2.jpg");
	background-position:center top;
	max-width: 100%;
	margin:auto;
	overflow: hidden;
	min-height: 578px;
	padding-bottom: 30px;
}

.main-logo{
	margin-top: 5em;
}

.home-text-ul{
	list-style-type: none;
	padding-left: 0;
	margin-left:1em;
	margin-top: 1.2em;
}

.home-text-ul li{
	background-image: url("/static/images/asteriscos.png");
	//background-attachment: fixed;
	background-repeat:no-repeat;
	//text-shadow: 0 0 0.05em white;
	color: white;
	height: 0.9em;
	margin-bottom: 0.7em;
	line-height: 30px;
}

.li-first{
	font-size: 2.5em;
	padding-left:50px;
	background-position: 0px 5px;
}

.li-second{
	font-size: 3.3em;
	background-position: 0px -23px;
	padding-top: 7px;
		padding-left:50px;
}

.li-third{
	font-size: 4em;
	background-position: 0px -71px;
	padding-top: 8px;
		padding-left:50px;
}

.li-fourth{
	font-size: 3.3em;
	background-position: 0px -200px;
	padding-left: 0px; 
	margin-top:0.5em;
}

.li-fourth span{
	font-weight: bolder;
	color: #ffc60d;
	text-shadow: none;

}

.register-box{
	margin:7.5em 0 0 4em;
}

.log-in-box{
	padding: 2.2em 0em 2.8em 1.1em;
}

.gradient-div{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-bottom:none;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.1) 1%, rgba(0,0,0,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(1%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0.1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0.1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 1%,rgba(0,0,0,0.1) 100%); /* W3C */
}

.clearfix label{
	font-weight: normal;
	font-size: 1.2em;
}

.input label, .remember label{
	display: none;
}

.submit-button{
	text-align: center;
	position: relative;
	color: #260d06;//#1c0404
	cursor: pointer;
}

.big-button-rockolin{
	width: 300px;
	height: 64px;
	background: url("/static/images/medium-btn-form.png") no-repeat;
	display: block;
}

.register-button-form{
	float: left;
	font-size: 3.8em;	
	padding: 8px 0 0 0;
	margin: 15px 0 0 -10px;
}

.cevent-button{
	font-size: 2.5em;
	padding: 18px 0 0 0;
	margin: auto;
}

.mini-button{
	background: url("/static/images/smaller.png") no-repeat;
	font-size: 1.2em;
	margin-left:35px;
	padding: 3px 7px 5px 7px;
	line-height: 70px;
}

.login-button-header{
	width:165px;
	height:28px;
	display:inline-block;
	background: url("/static/images/small.png") no-repeat;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #260d06;
	padding:7px 0;
	font-size: 2em;
	margin: 0;
}

.pull-right label{
	display: none;
}

.pull-right input{
	border: 0;
	border: none;
	margin-left:5px;
}

footer{
	background-color: #1C0404;
	padding-top:30px;
	border: 0;
	position: relative;
	margin-top: -130px; /* negative value of footer height */
	height: 100px;
	clear:both; 
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

.social-icons{
	list-style: none;
	text-align: center;
	width: 50%;
	overflow: hidden;
	margin: auto;
}

.social-icons li{
	float:left;
	width: 63px;
	height: 60px;
	background-image: url("/static/images/social.png");
	//background-attachment: fixed;
	margin-left:1em;
}

.facebook{
	background-position:6px 8px;
}
.facebook:hover{
	background-position:6px -51px;
}

.twitter{
	background-position: -56px 7px;
}
.twitter:hover{
	background-position: -56px -52px;
}

.google{
	background-position: -120px 7px;
}
.google:hover{
	background-position: -120px -52px;
}

.tumblr{
	background-position: -183px 7px;	
}
.tumblr:hover{
	background-position: -183px -52px;
}

.friends{
	background-position: -243px 7px;
}
.friends:hover{
	background-position: -243px -52px;
}

.blogger{
	background-position: -313px 7px;
}
.blogger:hover{
	background-position: -313px -52px;
}

.logInbox{
	margin-top: 6em;
}

.event-thumbnail{
	padding-left: 20px;
	padding-top:10px;
	padding-right:20px;
	margin-top: 30px;
	height: 166px
}
.event-img{
	//height: 90px;
	//width: 90px;
}
.event-min-data li{
	//margin-top: 10px;
}
.log-in-other{
	float: left;
	width: 100%;
}

/*GENERALS*/
.errors{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #ffc010;
}
.padding-ok{
	padding: 19px;
}
.form-stacked .error{
	color: #ffc010;
}
.top-sections{
	padding-top: 50px;
}
.0.3{
	text-align: center;
	overflow: hidden;
}
.box-title{
	font-family: "VintageRegular", serif;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.box-title h1{
	font-size: 4.5em;
	}
.box-title h2{
	font-size: 2.8em;
}
h1 .word1{
	font-size: 1.2em;
}
.yellow-text{
	color: #ffc010;
}
.topbar a span{
	color: #ffc010;
	text-decoration: underline;
}
.white-text{
	color: white;
}
.big-menu{
	font-size: 1.7em;
	padding: 18px 12px 0px 0px;
}
.stats-box{
	padding: 20px 0 0 0;
}
.stats{
	margin-top: 25px;
}
input[type="file"]{
	background: none;
}
.centered{
	text-align: center;
	overflow: hidden;
}
/* DASHBOARD STATS*/
.stats > .clearfix{
	overflow: hidden;
	width: 75%;
	margin: 15px auto;
}
.stat-div{
	height: 55px;
	
}
.stat-div h4{
	margin-left: 20px;
	color: white;
	font-size: 2em;
	line-height: 50px;
	font-weight: normal;
}
.stat-div span{
	font-size: 2.2em;
	line-height: 50px;
	font-weight: bolder;
}
.stat-img{
	width: 50px;
	height: 38px;
	background: url("/static/images/icons.png") no-repeat;
}
.dislikes{
	background-position: 0px -40px;
}
.comments{
	background-position: 0px -81px;
}
.events{
	background-position: 0px -127px;
}
.stat-img2{
	background: url("/static/images/icons2.png") no-repeat;
	width: 50px;
	height: 30px;
	background-position: 8px 0px;
}
.dislikes2{
	background-position: 8px -27px;
}

/* EVENT CSS*/
.song-list ul{
	list-style: none;
	width: 80%;
	margin: auto;
	overflow: hidden;
	padding:0;
}
.song-container{
	margin-bottom: 10px;
	background: #1C0404;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 4px;
	overflow: hidden;
}
.song-container div{
	overflow: hidden;
}
.song-container div a{
	font-size: 1.5em;
	color: white;
}
.song-container div a:hover{
	text-decoration: none;
}
.song-artist-info{
	line-height: 40px;
	margin-left: 0.5em;
}
.song-artist-info span{
	color: #ffc010;
	font-size: 0.7em;
}
.song-container img{
	height: 40px;
	cursor: pointer;
}
.love-song{
	width: 45px;
	height: 35px;
	background: url("/static/images/heart.png") no-repeat;
	background-position: -42px -5px;
	cursor: pointer;
}
.liked{
	background-position: -4px -4px;
}


/*CREATE EVENT CSS*/
.yellow-circle{
	background-color:#ffc010;
	border:#260d06 solid 5px;
	width:64px;
	margin:auto;
	-webkit-border-radius: 130px;
	-moz-border-radius: 130px;
	border-radius: 130px;
}
.yellow-circle h1{
	font-size:3em;
	line-height: 64px;
	margin: 0;
	top: -2px;
}
div > .disabled{
	opacity: 0.3;
}
.step-container{
	min-height: 350px;
}
.step2, .step3{
	display: none;
}
.next-box a{
	margin: auto;
}
.create-button, .back-button{
	display: none;
}
.event-create-buttons{
	margin-top: -20px;
}
#create-form{
	padding: 0;
}
#table-songs, #table-emails{
	color: white;
	font-size: 1em;
}
.AnyTime-hdr{
	color: white;
}
