{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}

{% block body %}

	<form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="form-stacked">
        	<label for="image_upload">Related Image</label>
        	<input type="file" name="image_upload" id = "image_upload">
        	<div class = "clearfix">
        	{{ form_field(form.name, class='medium') }}
        	</div>
        	<div class = "clearfix">
        	{{ form_field(form.description, class='medium') }}
        	</div>
        	<div class = "clearfix">
        	<label for="start-date">Start Date</label>
        	<input id = "start-date" name ="start-date" type="date">
        	<input id = "start-time" name ="start-time"  type="time">
        	</div>
        	<div class = "clearfix">
        	<label for="finish-date">Finish Date</label>
        	<input id = "finish-date" name = "finish-date" type="date">
        	<input id = "finish-time" name = "finish-time" type="time">
        	</div>
        	<div class = "clearfix">
        	<label for="add-email">Add Emails</label>
        	<input id="add-email" type="text" onClick = "testKey()">
        	</div>
        	<div id = "add" >Add</div>
        	<table id = "table" style = "color:white">
			<tr>
			<td ><input id="master-toggle-switch" type="checkbox" checked=""  value="all" name="master-toggle-switch"></td>
			<td >E-mail</th>
			</tr>
			
				<tr>
					<td><input class="check" type="checkbox" checked="" value="alex.milano@gmail.com" name="contacts[]"></td>
					<td >alex.milano@gmail.com</th>
				</tr>
			
			</table>
        	
        	
        	
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Submit') }}">
       </fieldset>
    </form>
{% endblock %}

