{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}

{% block body %}

	<form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="form-stacked">
        	<input type="file" name="image_upload">
        	<div class = "clearfix">
        	{{ form_field(form.name, class='medium') }}
        	</div>
        	<div class = "clearfix">
        	{{ form_field(form.description, class='medium') }}
        	</div>
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Submit') }}">
       </fieldset>
    </form>
{% endblock %}

