{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}

{% block body %}
<div class="background-with big-content top-sections">
	<div class="container">
		<div class="row">
			<div class="span-one-third centered">
				<div class="title-box">
					<div class="yellow-circle">
						<h1 class="submit-button">1</h1>
					</div>
				</div>
				<h1 class="yellow-text vintage-border">The Information</h1>
			</div>
			<div class="span-one-third centered disabled step2-circle">
				<div class="title-box">
					<div class="yellow-circle">
						<h1 class="submit-button">2</h1>
					</div>
				</div>
				<h1 class="yellow-text vintage-border">The Songs</h1>
			</div>
			<div class="span-one-third centered disabled step3-circle">
				<div class="title-box">
					<div class="yellow-circle">
						<h1 class="submit-button">3</h1>
					</div>
				</div>
				<h1 class="yellow-text vintage-border">The Guests</h1>
			</div>
		</div>
		<div class="top-sections">
			<div class="row">
				<div class="span6 offset5">
					<div class="gradient-div padding-ok step-container">
					<form id="create-form" class="form-stacked validate" method="post" action="{{ current_url }}" enctype="multipart/form-data" >
		        	<!--<div class="actual-step">-->
			        	<fieldset class="step1">
			        		<br />
			        		<div class = "clearfix">
					        	{{ form_field(form.name, class='xlarge required', id='name') }}
				        	</div>
				        	<br />
				        	<div class = "clearfix">
				        		{{ form_field(form.description, id='description', class='xlarge required', rows='3') }}
				        	</div>
				        	<br />
			        		<div class="clearfix">
				        		<label for="image_upload">Event Image</label>
					        	<div class="input">
					        		<input id="image_upload" class="input-file required" type="file" name="image_upload" id = "image_upload">
					        	</div>
				        	</div>
				        	<br />    	
				        	<div class = "clearfix">
					        	<label for="start-date">Event Date</label>
					        	<div class="input">
					        		<div class="inline-inputs">
						        		<input id="start-date" type="text" name="start-date" class="xlarge required centered" />
					        		</div>
					        	</div>
					        </div>
			        	</fieldset>
			        	
			        	<fieldset class="step2">
				        	<div class = "clearfix">
				        	<label for="table-songs">Add Songs</label>
				        	</div>
				        	<table id = "table-songs"  >
				        		<thead>
									<tr>
									<th ><input id="master-toggle-switch" type="checkbox" checked=""  value="all" name="master-toggle-switch"></th>
									<th class="yellow header" >Artist</th>
									<th class="red header" >Song</th>
									</tr>
								</thead>
								<tbody>
									{% for song in songs %}
										<tr>
											<td><input class="check" type="checkbox" checked="" value="{{ song.key() }}" name="songs[]"></td>
											<td >{{ song.artist.name }}</td>
											<td >{{ song.name }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</fieldset>
						
						<fieldset class="step3">
				        	<div class = "clearfix">
					        	<label for="add-email">Add Emails</label>
					        	<div class="input">
					        		<div class="inline-inputs">
							        	<input type="button" class="add-email-button" value="Add" />
							        	<input id="add-email" type="email" class="email"/>				        		
					        		</div>
					        	</div>
				        	</div>
				        	<table id = "table-emails" >
								<thead>
									<tr class="contacts-header">	
										<td ><input id="master-toggle-switch" type="checkbox" checked=""  value="all" name="master-toggle-switch"></td>
										<td class="yellow header">E-mail</td>
									</tr>	
								</thead>
								<tbody>
									<tr>
									</tr>
								</tbody>
							</table>
						</fieldset>
			       	<!--</div>-->
			    	</form>
			    	</div>
			    	<div class="centered event-create-buttons">
			    		<a class="submit-button login-button-header back-button pull-left">BACK</a>
			    		<a class="submit-button login-button-header next-button pull-right">NEXT</a>
						<a class="submit-button login-button-header create-button" href="#" onclick="$('#create-form').submit()">CREATE</a>
			    	</div>
			    	<br />
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}

