{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="span10">
				<section class="top-sections">
					<div class="box-title ">
						<h1 class="yellow-text">My Events</h1>
					</div>
					<div class="row">
						
						<div class="span5">
							<div class="event-thumbnail gradient-div mosaic-block bar">
								<a href="http://www.nonsensesociety.com/2011/01/sloppy-art/" target="_blank" class="mosaic-overlay">
									<div class="details">
										<h4>Sloppy Art - A Mess of Inspiration</h4>
										<p>via the Nonsense Society (image credit: Florian</p>
									</div>
								</a>
								<div class="mosaic-backdrop">
									<div class="">
										<h3 class="white-text">Fiesta Black & White Red Bull</h3>
										<div class="row">
											<div class="span2">
												<ul class="media-grid">
													<li>
														<a href="#" >
															<img src="http://placehold.it/90x90" class="thumbnail" alt=" " />
														</a>
													</li>
												</ul>
											</div>
											<div class="span2">
												<ul class="unstyled event-min-data">
													<li class="date-event white-text">
														<span>Fecha: 21/10/2011</span>
													</li>
													<li class="like-dislikes white-text">
														<div class="row">
															<div class="span1">
																<img alt="likes" />
																<span>120</span>
															</div>
															<div class="span1">
																<img alt="dislikes" />
																<span>15</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="event-thumbnail gradient-div mosaic-block bar">
								<a href="http://www.nonsensesociety.com/2011/01/sloppy-art/" target="_blank" class="mosaic-overlay">
									<div class="details">
										<h4>Sloppy Art - A Mess of Inspiration</h4>
										<p>via the Nonsense Society (image credit: Florian</p>
									</div>
								</a>
								<div class="mosaic-backdrop">
									<div class="">
										<h3 class="white-text">Fiesta Black & White Red Bull</h3>
										<div class="row">
											<div class="span2">
												<ul class="media-grid">
													<li>
														<a href="#" >
															<img src="http://placehold.it/90x90" class="thumbnail" alt=" " />
														</a>
													</li>
												</ul>
											</div>
											<div class="span2">
												<ul class="unstyled event-min-data">
													<li class="date-event white-text">
														<span>Fecha: 21/10/2011</span>
													</li>
													<li class="like-dislikes white-text">
														<div class="row">
															<div class="span1">
																<img alt="likes" />
																<span>120</span>
															</div>
															<div class="span1">
																<img alt="dislikes" />
																<span>15</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="span5">
							<div class="event-thumbnail gradient-div mosaic-block bar">
								<a href="http://www.nonsensesociety.com/2011/01/sloppy-art/" target="_blank" class="mosaic-overlay">
									<div class="details">
										<h4>Sloppy Art - A Mess of Inspiration</h4>
										<p>via the Nonsense Society (image credit: Florian</p>
									</div>
								</a>
								<div class="mosaic-backdrop">
									<div class="">
										<h3 class="white-text">Fiesta Black & White Red Bull</h3>
										<div class="row">
											<div class="span2">
												<ul class="media-grid">
													<li>
														<a href="#" >
															<img src="http://placehold.it/90x90" class="thumbnail" alt=" " />
														</a>
													</li>
												</ul>
											</div>
											<div class="span2">
												<ul class="unstyled event-min-data">
													<li class="date-event white-text">
														<span>Fecha: 21/10/2011</span>
													</li>
													<li class="like-dislikes white-text">
														<div class="row">
															<div class="span1">
																<img alt="likes" />
																<span>120</span>
															</div>
															<div class="span1">
																<img alt="dislikes" />
																<span>15</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="event-thumbnail gradient-div mosaic-block bar">
								<a href="http://www.nonsensesociety.com/2011/01/sloppy-art/" target="_blank" class="mosaic-overlay">
									<div class="details">
										<h4>Sloppy Art - A Mess of Inspiration</h4>
										<p>via the Nonsense Society (image credit: Florian</p>
									</div>
								</a>
								<div class="mosaic-backdrop">
									<div class="">
										<h3 class="white-text">Fiesta Black & White Red Bull</h3>
										<div class="row">
											<div class="span2">
												<ul class="media-grid">
													<li>
														<a href="#" >
															<img src="http://placehold.it/90x90" class="thumbnail" alt=" " />
														</a>
													</li>
												</ul>
											</div>
											<div class="span2">
												<ul class="unstyled event-min-data">
													<li class="date-event white-text">
														<span>Fecha: 21/10/2011</span>
													</li>
													<li class="like-dislikes white-text">
														<div class="row">
															<div class="span1">
																<img alt="likes" />
																<span>120</span>
															</div>
															<div class="span1">
																<img alt="dislikes" />
																<span>15</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</section>
			</div>
			<div class="span7"></div>
		</div>
	</div>
	<a href="/create-event">Create Event</a>
	{% if events %}
		{% for event in events %}
			{{ event.name }}
		{% endfor %}
	{% endif %}
{% endblock %}

