{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}

{% block body %}

<div class="container">
	
	<div class="row">
		<div class="span6">
			<div class="gradient-div">
				<div class="row">
					<div class="span4">
						<img class="event-img" />
					</div>
					<div class="span2">
						<div class="event-stats">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span10">
			<div class="gradient-div">
				<div id="jplayer_playlist" class="jp-playlist" >
					<ul>
						{% for song in songs %}
						
							{{ song.url }}
		{{ song.name }}
		{{ song.artist.name }}
		
							
						{% endfor %}
					</ul>
				</div>	
			</div>
		</div>
	</div>
	
</div>
<script type="text/javascript">
	
</script>

	

{% endblock %}

