
{% from '_form_macros.html' import form_field %}

<div class="topbar">	
	<div class="container">
		{% if current_user or auth_session or section == 'login' -%}
		<a href="/"><img class="img-logo" src="/static/images/logo.png" /></a>
		<ul class="nav">
			<li>
				<a class="big-menu" href="#">About us</a>
			</li>
		</ul>
		{%- endif %} 
		
		
		{% if current_user or auth_session or section == 'login' -%}
            {% if current_user -%}
            <ul class="nav secondary-nav">
            	<li>
	                <a>{{ current_user.username|e }}</a>        		
            	</li>
            	<li>
            		<a href="{{ logout_url }}">Sign out</a>
            	</li>
            </ul>
            {%- endif %}
            {% if section == 'login' -%}
             <ul class="nav secondary-nav">
            	<li>
            		<a class="big-menu">Haven't try Rockolin' yet? </a>
            	</li>
            	<li>
            		<a class="yellow-text big-menu" href="/"><span>Sign Up Now!</span></a>
            	</li>
            </ul>
            {%- endif %} 
        {% else %}
        <form class="pull-right" method="post" action="/auth/login" enctype="multipart/form-data" class="tipfy-form">
        
            {{ form_field(form.username_login, class='small',placeholder='username') }}
            {{ form_field(form.password_login, class='small',placeholder='password') }}
        
            <input id="login-button-header" type="image" src="/static/images/loginrockolin.png" name="submit" value="{{ _('Sign in') }}">
        
    	</form>
		
		{% endif %}
	</div>
</div>