
{% from '_form_macros.html' import form_field %}

<div class="topbar">	
	<div class="container">
		{% if current_user or auth_session -%}
            {% if current_user -%}
		<img class="img-logo" src="/static/images/disc.png" /><a class="brand" href="/dashboard"> Rockolin'</a>
		    {%- endif %} 
		{%- endif %} 
		
		<ul class="nav">
			<li>
				<!--<a href="#">About Rockolin</a>-->
			</li>
		</ul>
		{% if current_user or auth_session -%}
            {% if current_user -%}
            <ul class="nav secondary-nav">
            	<li>
	                <a>{{ current_user.username|e }}</a>        		
            	</li>
            	<li>
            		<a href="{{ logout_url }}">Sign out</a>
            	</li>
            </ul>
            {%- endif %} 
        {% else %}
        <form class="pull-right" method="post" action="/auth/login" enctype="multipart/form-data" class="tipfy-form">
        
            {{ form_field(form.username_login, class='small',placeholder='username') }}
            {{ form_field(form.password_login, class='small',placeholder='password') }}
        
            <input type="submit" name="submit" value="{{ _('Sign in') }}">
        
    	</form>
		
		{% endif %}
	</div>
</div>