
{% from '_form_macros.html' import form_field %}

<div class="topbar-header">	
	<div class="container">
		{% if current_user or auth_session or section == 'login' -%}
		<div class="nav-container">
			<a href="/"><img class="img-logo" src="/static/images/logo.png" /></a>
			<ul class="nav">
				<li>
					<a class="big-menu white-text" href="#">About us</a>
				</li>
			</ul>
		</div>
		{%- endif %} 
		
		
		{% if current_user or auth_session or section == 'login' -%}
            {% if current_user -%}
            <ul class="nav secondary-nav">
            	<li>
	                <a class="yellow-text big-menu"><span>{{ current_user.username|e }}</span></a>        		
            	</li>
            	<li>
            		<a class="big-menu white-text" href="{{ logout_url }}">Sign out</a>
            	</li>
            </ul>
            {%- endif %}
            {% if section == 'login' -%}
             <ul class="nav secondary-nav">
            	<li>
            		<a class="big-menu">Haven't try Rockolin' yet? </a>
            	</li>
            	<li>
            		<a class="yellow-text big-menu" href="/"><span>Sign Up Now!</span></a>
            	</li>
            </ul>
            {%- endif %} 
        {% else %}
        <form id="login-form" class="pull-right validate" method="post" action="/auth/login" enctype="multipart/form-data" class="tipfy-form">
        
            {{ form_field(form.username_login, class='medium required',placeholder='username') }}
            {{ form_field(form.password_login, class='medium required',placeholder='password') }}
        
        	<a href="#" id="login-button-header" class=" submit-button" onclick="$(this).parent().submit()">SIGN IN</a>
            <!--<input id="login-button-header" type="image" src="/static/images/loginrockolin.png" name="submit" value="{{ _('Sign in') }}">-->
        
    	</form>
		
		{% endif %}
	</div>
</div>