{% extends 'layout.html' %}

{% from '_form_macros.html' import form_field %}

{% block body %}
<div class="background-with big-content">
	<div class="container">
		<div class="row">
			
			<div class="span6 offset5 logInbox">
				<div class="box-title  centered">
					<!--<h1 class="yellow-text">SIGN IN</h1>-->
				</div>
				<div class="log-in-box gradient-div">
				    <form  class="form-stacked validate"  method="post" action="{{ current_url }}" enctype="multipart/form-data">
				        <fieldset class="textbox">
				        	<div class="clearfix">
					        	<label for="username_login">Username</label>
					        	<div class="input">
					        		{{ form_field(form.username_login, class='xlarge required') }}
					        	</div>
					        </div>
				            <div class="clearfix">
				            	<label for="password_login">Password</label>
				            	<div class="input">
				            		{{ form_field(form.password_login, class='xlarge required') }}
				            	</div>
				            </div>
			            </fieldset>
			            <fieldset class="subchck">
			            	<label class="remember">
			            		<span>Keep me signed in</span>
				            	{{ form_field(form.remember) }}
				            </label>
			        	</fieldset>
			        	<p>
			        		<span class="white-text">Don't have an account? <a href="/">Create a new one</a></span>
			        	</p>
			        	<br />
			        		<a class="submit-button register-button-form big-button-rockolin" href="#" onclick="$(this).parent().submit()">SIGN IN</a>
				    </form>
				</div>
			    
			
			    <p>Or select a service to sign in with:</p>
			    <p>
			        <a href="{{ facebook_login_url }}" title="Sign in with Facebook"><img src="/static/images/facebook.png" width="60" height="60" alt="Sign in with Facebook"></a>
			        <a href="{{ twitter_login_url }}" title="Sign in with Twitter"><img src="/static/images/twitter.png" width="60" height="60" alt="Sign in with Twitter"></a>
			        
			    </p>
			</div>
		    
	    </div>
    </div>
</div>

{% endblock %}

