{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}
{% block body %}
	<div class="big-content">
		<div class="container">
			<div class="row">
				<div class="span9">
					<img class="main-logo" src="/static/images/logo.png" />
					<ul class="home-text-ul">
						<li class="li-first">Create your event</li>
						<li class="li-second">add some music</li>
						<li class="li-third">Share it</li>
						<li class="li-fourth">... and let your <span>GUESTS</span> make the mix</li>
					</ul>
				</div>
				<div class="span7">
					<div class="register-box log-in-box gradient-div">
						<div class="fade in">
							<form name="signup" class="form-stacked" method="post" action="{{ current_url }}" enctype="multipart/form-data">
							
								<div class="clearfix">
									<label>Username</label>
									<div class="input">
										{{ form_field(form.username, class='required xlarge') }}
									</div>
								</div>
								<br/>
								<div class="clearfix">
									<label>Email</label>
									<div class="input">
										{{ form_field(form.email, class='required xlarge') }}
									</div>
								</div>
								<br/>
								<div class="clearfix">
									<label>Password</label>
									<div class="input">
										{{ form_field(form.password, class='required xlarge') }}
									</div>
								</div>
								<br/>
								<div class="clearfix">
									<label>Password (Confirm)</label>
									<div class="input">
										{{ form_field(form.password_confirm, class='required xlarge') }}
									</div>
								</div>
														
		
								<input class="submit-button" type="image" src="/static/images/buttonSignUp.png" name="submit" />
								<!--<a class="submit-button" onClick="document.signup.submit()"><img src="/static/images/buttonSignUp.png" /></a>-->
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</div>
 <!--   <p>This is a <a href="http://www.tipfy.org/">tipfy</a> example for
    authentication using multi-auth users system.</p>

    <p>Users are required to save an account record to access <a href="{{ url_for('content/index') }}">protected content</a>.</p>-->
{% endblock %}

