{% extends 'layout.html' %}
{% from '_form_macros.html' import form_field %}

{% block body %}
	
	<form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="form-stacked">
        	<div class = "clearfix">
        	{{ form_field(form.artist, class='medium') }}
        	</div>
        	<div class = "clearfix">
        	{{ form_field(form.name, class='medium') }}
        	</div>
        	<div class = "clearfix">
        	{{ form_field(form.url, class='medium') }}
        	</div>
        <fieldset class="submit">
            <input type="submit" name="submit" value="{{ _('Submit') }}">
       </fieldset>
    </form>
    
    {% if songs %}
    	{% for song in songs %}
    	<li>
	    	<audio controls="controls">
			  <source src="{{ song.url }}" type="audio/mp3" />
			  Your browser does not support the audio element.
			</audio>
		</li>
    		
    	{% endfor %}
    {% endif %}
{% endblock %}

